@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');
:root{
    --primary-color : #316fd3;
    --button-color: #4d76fd;
}
*{
    font-family: 'Jost', sans-serif !important;
}
html{
    box-sizing: border-box;
}
body{
    width: 100%;
}
.header-row{
    height: 10vh;
    width: 100%;
    margin: 0;
    border: 2px solid red;
}
.header-row > div{
    border: 2px solid green;
}
.container-fluid{
    padding: 0 !important;
    width: 100% !important;
    margin: 0 !important;
}
.content{
    height: 90vh;
    width: 100%;
    margin: 0;
}
.content > div{
    border: 2px solid blue;
}
.projects {
    padding: 2em ;
}
.date {
    margin-left: 16px;
    font-size: 13px;
}
.mail-choice {
    display: none;
   }
   
   .mail-choice + label:before {
    content: "";
    display: flex;
    width: 35px;
    height: 35px;
    border: 2px solid var(--main-light-color);
    margin-right: 15px;
    border-radius: 50%;
    transition: 0.3s;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='28' viewBox='0 0 24 24' fill='none' stroke='%23a1a4b9' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
   }
   
   .mail-choice:checked + label:before {
    background-color: var(--button-color);
    background-color: var(--button-color);
    border-color: var(--button-color);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='28' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
   }
   
   .mail-choice:checked .msg {
    background-color: red;
   }
   .task img {
       border-radius:50%;
   }
   #secondColumn {
       padding-left: 3em;;
   }
   #design,#development,#management {
       display: none;
   }
   