@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #316fd3;
    --button-color: #4d76fd;
}

* {
    font-family: 'Jost', sans-serif !important;
}

html {
    box-sizing: border-box;
}

body {
    width: 100%;
}

.header-row {
    height: 10vh;
    width: 100%;
    margin: 0;
}

.container-fluid {
    padding: 0 !important;
    width: 100% !important;
    margin: 0 !important;
}

.content {
    height: 90vh;
    width: 100%;
    margin: 0;
}

.content {
    border-top: 2px solid lightgrey;
}

#secondColumn {
    margin: 0;
    padding: 0;
}

.teams {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    border: none;
    background-color: white;
    font-size: 1.5rem;
}

.teams * {
    font-size: 1rem;
    text-transform: capitalize;
    color: var(--primary-color);
    font-weight: 600;
}

.date {
    font-size: 0.8rem;
    float: left;
    font-weight: 100;
}

.mail-choice {
    display: none;
}

.mail-choice+label:before {
    content: "";
    display: flex;
    width: 35px;
    height: 35px;
    border: 2px solid var(--button-color);
    margin-right: 15px;
    border-radius: 50%;
    transition: 0.3s;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='28' viewBox='0 0 24 24' fill='none' stroke='%23a1a4b9' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.mail-choice:checked+label:before {
    background-color: var(--button-color);
    background-color: var(--button-color);
    border-color: var(--button-color);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='28' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
}

.mail-choice:checked .msg {
    background-color: red;
}

.task img {
    border-radius: 50%;
}

#tasks {
    height: 80vh;
    overflow-y: scroll;
    background-color: #F0F1F7;
    margin: 0;
    padding: 0;
}

.team-header {
    background-color: white;
    height: 10%;
}

#tasks .row {
    margin: 0;
}

svg {
    margin-top: 3em;
    height: 15px;
}

.task {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2em 0em 0em 2em;
}

h2 {
    text-transform: uppercase;
    font-size: 24px;
}

#addTask {
    text-align: center;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inbox-button,
#addNewTask {
    width: 40%;
}

.btn {
    border-radius: 1.5rem;
}

.selected-bg {
    background-color: white;
}

.search-bar {
    position: relative;
}

.search-bar input {
    height: 100%;
    width: 100%;
    display: block;
    background-color: transparent;
    border: none;
    padding: 0 35px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23a1a4b9' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3e%3ccircle cx='11' cy='11' r='8'/%3e%3cpath d='M21 21l-4.35-4.35'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 0 30%;
    font-family: var(--body-font);
    font-weight: 600;
    font-size: 1rem;
}

::placeholder {
    color: #979DC3;
}

.header-right>div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}


.user-profile-area {
    overflow-y: scroll;
    height: 80vh;
}

.task-manager {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

    text-transform: uppercase;
    background-color: var(--theme-bg-color);
}

.user-photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.task p {
    font-size: 1rem;
    font-weight: 900;
}

.user-name {
    font-weight: 600;
    margin: 15px 0 8px;
    font-size: 1.5rem;
}

.user-mail {
    color: var(--main-light-color);
    font-weight: 100;
    font-size: 1rem;
}

.user-profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.side-wrapper {
    padding: 25px 40px;
    border-bottom: 1px solid var(--border-color);
    font-size: 1rem;
}

.side-wapper:last-child {
    border-bottom: none;
}


.user-notification {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

svg {
    width: 36px;
    padding: 10px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: visible;
    background-color: var(--button-bg-color);
    color: var(--button-color);
}


.notify {
    position: relative;
}

.notify:not(:last-child) {
    margin-right: 25px;
}

.notify.alert {
    position: relative;
}

.notify.alert:before {
    content: "2";
    font-size: 9px;
    font-weight: 700;
    position: absolute;
    background-color: #ff537b;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    color: #fff;
}

.notify.alert:last-child:before {
    content: "5";
}



.progress {
    margin-top: 5px;
    border-radius: 4px;
    background-color: #e7e7ef;
    height: 8px;
    overflow: hidden;
}

.progress-bar {
    background-color: var(--button-color);
    border-radius: 4px;
    width: 35%;
    height: 100%;
    animation: progressAnimation 6s;
    transition: 0.3s linear both;
    transition-property: width, background-color;
}

.progress-status {
    margin-top: 30px;
    text-align: right;
    color: var(--main-color);
    font-size: 1rem;
    font-weight: 600;
}


@keyframes progressAnimation {
    0% {
        width: 5%;
        background-color: #a2b6f5;
    }

    100% {
        width: 35%;
    }
}

.task-status {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-stat {
    text-align: center;
}

.task-number {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.task-condition {
    font-size: 1rem;
    color: var(--main-color);
    font-weight: 400;
}

.task-tasks {
    margin-top: 4px;
    font-size: 1rem;
    font-weight: 100;
    color: var(--main-light-color);
}


.team-title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 18px;
}

.team-department {
    position: relative;
    vertical-align: middle;
    padding: 0 30px;
    color: var(--main-color);
    font-size: 1rem;
    font-weight: 600;
    margin-top: 14px;
}

.team-department:before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 10;
    left: 0;
}

.team-department:nth-child(1):before {
    border: 0.3rem solid #b36dfb;
    padding: 0.4rem;
}

.team-department:nth-child(2):before {
    border: 0.3rem solid #625be8;
    padding: 0.4rem;
}

.team-department:nth-child(3):before {
    border: 0.3rem solid #fec267;
    padding: 0.4rem;
}

.team-department:nth-child(4):before {
    border: 0.3rem solid #fc6679;
    padding: 0.4rem;
}


.members {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.team-member {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}





.mail-detail {
    display: flex;
    animation: slideX .6s both;
    flex-direction: column;
    overflow: auto;
    background-color: var(--theme-bg-color);
}

.mail-detail-profile {
    display: flex;
    align-items: center;
}

.mail-detail-header {
    border-bottom: 1px solid var(--border-color);
    padding: 16px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mail-detail-name {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    white-space: nowrap;
}

@keyframes slideX {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }
}

.inbox-detail {
    width: 44px;
    height: 44px;
}

.mail-icons {
    flex-shrink: 0;
}

.mail-icons svg {
    width: 42px;
    height: 42px;
    padding: 13px;
    flex-shrink: 0;
    margin-left: 10px;
    border-radius: 50%;
    overflow: visible;
    background-color: var(--button-bg-color);
    color: var(--button-color);
}

.mail-icons svg:first-child {
    margin-left: 0;
}


.mail-contents {
    padding: 30px;
}

.mail-contents-subject {
    display: flex;
    align-items: center;
}

.mail-contents-title {
    font-weight: 700;
    font-size: 17px;
    margin-left: 5px;
}


.mail {
    padding-left: 55px;
    font-size: 14px;
    color: var(--main-light-color);
}

.mail-time {
    font-weight: 600;
    display: flex;
    align-items: center;
    font-size: 13px;
}

.mail-time svg {
    width: 12px;
    margin-right: 8px;
}

.mail-time-inside {
    padding: 20px 0 30px;
    border-bottom: 1px solid var(--border-color);
    color: var(--main-color);
    line-height: 1.8em;
}

.mail-time-checklist {
    padding: 20px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

.mail-time-checklist .mail-choice+label:before {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-right: 12px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='18' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
}

label {
    display: flex;
    align-items: center;
    color: var(--button-color);
    font-weight: 600;
    font-size: 13px;
}

.mail-time-checklist-date {
    margin-left: 16px;
    font-size: 13px;
}


.assignee {
    font-size: 13px;
    margin-bottom: 10px;
}

.assignee:last-child {
    margin-bottom: 0;
}


.mail-assign {
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
}

.mail-doc {
    display: flex;
    align-items: center;
    padding: 30px 0;
    flex-shrink: 0;
    justify-content: space-between;
}

.mail-doc-name {
    color: var(--body-color);
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 3px;
}

.mail-doc-date {
    font-size: 13px;
}

.mail-doc-wrapper {
    display: flex;
    align-items: center;
}

.mail-doc-wrapper svg {
    margin-right: 15px;
    background-color: var(--button-bg-color);
    color: var(--button-color);
    width: 50px;
    padding: 9px;
    border-radius: 4px;
}

.mail-doc--icons svg:not(:last-child) {
    margin-right: 8px;
}


.mail-textarea {
    display: flex;
    background-color: var(--unselected-mail);
    padding: 30px 0;
    border-top: 1px solid var(--border-color);
    position: sticky;
    bottom: 0;
    justify-content: space-between;
    margin-top: auto;
    left: 0;
    overflow: hidden;
    height: 80px;
    flex-shrink: 0;
}

.mail-textarea input {
    border: none;
    background-color: transparent;
    font-size: 15px;
    width: 100%;
    padding: 0 30px;
    color: var(--main-color);
}

.mail-textarea input::placeholder {
    color: var(--main-light-color);
}



.textarea-icons {
    display: flex;
    align-items: center;
}

.attach {
    padding: 30px;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}

.attach svg {
    color: var(--main-color);
}

.send {
    padding: 30px;
    background-color: var(--button-color);
}

.send svg {
    color: var(--theme-bg-color);
}

textarea:focus,select:focus,
input:focus {
    outline: none;
}